@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-red-cta: hsl(356, 100%, 66%);
    --light-red-cta: hsl(355, 100%, 74%);
    --dark-blue-heading: hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue-footer: hsl(240, 2%, 79%);
    --dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-blue: hsl(240, 10%, 16%);
    --overpass: 'Overpass', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

/* NAVBAR */
nav {
    padding: 2em 10em;
}

nav img {
    padding-right: 2em;
}

nav, .siteNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    font-family: var(--overpass);
}

button img {
    margin-left: .5em;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: .9em;
    font-family: var(--overpass);
}

header {
    text-align: center;
    background-image: url(/images/bg-pattern-intro-desktop.svg), linear-gradient(100deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: 218%, auto;
    background-position: 25% 52%;
    height: 75vh;
    border-radius: 0 0 0 6em;
}

header h1 {
    color: white;
    font-size: 3em;
    font-weight: 500;
    padding: 2em 0 .5em 0;
    font-family: var(--overpass);
    font-weight: 600;
}

header p {
    color: white;
    padding: 0 0 2em 0;
    font-family: var(--overpass);
}

.signUpButton {
    margin-left: 1em;
}

.startButton, .signUpButton {
    background-color: white;
    color: var(--dark-red-cta);
    border-radius: 30px;
    width: 140px;
    padding: 1.1em;
    font-weight: bold;
}

.learnMoreButton {
    color: white;
    border-radius: 30px;
    width: 140px;
    padding: 1.1em;
    border: 1px solid var(--white);
    font-weight: bold;
}

/* For the drop down */
.dropdownItem {
    position: relative;
}

.dropdown {
    position: absolute;
    background: var(--white);
    border-radius: 8px;
    padding: 1em;
    text-align: left;
    margin-top: 1em;
    height: 14em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    visibility: hidden;
}

.dropdown-content2 {
    position: absolute;
    right: -40%;
    height: 12em;
}

.dropdown-content3 {
    position: absolute;
    right: -52%;
    height: 10em;
}

.show {
    visibility: visible;
}

.rotateImg {
    transform: rotate(90deg);
}

.dropdown li a {
    color: black;
    text-decoration: none;
}

.dropdown li a:hover {
    font-weight: bold;
}

/* main section  */
main {
    text-align: center;
    padding-top: 14em;
    padding-bottom: 9em;
    font-family: var(--overpass);
}

main h2 {
    font-size: 2em;
    color: var(--dark-blue-heading);
    font-weight: 500;
}

.designContainer {
    display: flex;
    padding-left: 10em;
    height: 35em;
    margin-bottom: 5em;
}

.leftText {
    width: 50%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.para1 {
    padding-bottom: 2em;
    width: 90%;
    letter-spacing: 1px;
    line-height: 25px;
}

.para2 {
    width: 90%;
    letter-spacing: 1px;
    line-height: 25px;
}

.para1 h3, .para2 h3 {
    padding-bottom: 1.5em;
    font-size: 1.5em;
    color: var(--dark-blue-heading);
}

.para1 p, .para2 p {
    color: var(--dark-grayish-blue);
}

.rightImage {
    width: 50%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightImage picture img {
    position: relative;
}

/* Phone section */
.infrastructure {
    width: 100%;
    height: 25em;
    background: linear-gradient(to bottom, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
}

.stateOfArt {
    display: flex;
    position: relative;
    border-radius: 0 6em 0 6em;
    background-image: url(images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: bottom -8em left -14em;
    border-radius: 0 6em 0 6em;
    height: 100%;
    width: 100%;
}

.infrastructureContainer {
    height: 100%;
    width: 100%;
}

.leftPhone {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPhone img {
    position: relative;
    top: 1em;
}

.rightText {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rightTextHolder {
    width: 80%;
    font-family: var(--overpass);
}

.rightText h3 {
    padding-bottom: 1.5em;
    font-size: 2em;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
}

.rightText p {
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 300;
}

.laptopSection {
    display: flex;
    width: 100%;
    padding-top: 8em;
    padding-bottom: 8em;
}

.leftImage {
    width: 50%;
    display: flex;
    align-items: center;
}

.leftImage picture img {
    position: relative;
    left: -17.5em;
}

.laptopPara {
    font-family: var(--overpass);
    width: 100%;
    padding-right: 7em;
}

.laptopPara h3 {
    color: var(--dark-blue-heading);
    letter-spacing: 1px;
    font-weight: 600;
}

.laptopPara p {
    color: var(--dark-grayish-blue);
    line-height: 25px;
    font-weight: 300;
}

/* FOOTER */

footer {
    background: var(--very-dark-blue);
    height: 22em;
    border-radius: 0 6em 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 4em 4em;
    font-family: var(--overpass);
}

.footerLinks p {
    color: white;
    padding-top: .5em;
    padding-bottom: 2em;
    font-weight: 600;
}

.footerLinks ul {
    list-style-type: none;
    color: var(--white);
    display: flex;
    flex-direction: column;
}

.footerLinks ul li a {
    text-decoration: none;
    color: var(--grayish-blue-footer);
    font-weight: 300;
}

.footerLinks ul li {
    padding-bottom: 1em;
}

.footerLinks ul li a:hover {
    text-decoration: underline;
}